.bg-image {
    background-image: url("college.jpg");
    filter: blur(8px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

div {
    position: absolute;
    background-color: lightgrey;
    width: 1150px;
    border: 15px solid #92b558;
    padding: 150px;
    margin: 20px;
}